<!DOCTYPE html>
<html>
  <head>
    <title>mebious - welcome to the wired</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/mebious.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="outline">
      <form action="/posts" method="POST" id="text">
        <%= csrf_tag %>
        <input name="text" size="32" maxlength="512">
        <button>in_txt</button>
      </form>

      <form action="/images" method="POST" id="image" enctype="multipart/form-data">
        <%= csrf_tag %>
        <input name="image" type="file" accept=".png,.jpg">
        <button>in_img</button>
      </form>

      <a href="/rss">rss</a>
    </div>
    
    <div id="posts">
      <% for post in @posts %>
      <p class="post" style="<%= Mebious::stylize post %>"><%= Mebious::sanitize(Mebious::corrupt(post.text)) %></p>
      <% end %>
    </div>

    <div id="images">
      <% for image in @images %>
      <img class="image" src="/images/<%= image.url %>">
      <% end %>
    </div>
  </body>
</html>
